<div style="margin-right:15px; margin-left:15px" class="panel panel-default">
    <div class="panel-body">
<div class="col-sm-12">

<% @helpfeeds.each do |feed| %>

<div class="panel panel-default">
<div class="panel-heading">
<strong><%= feed.user_name %></strong> <span class="text-muted"><%= feed.user_mobile %></span>
</div>
<div class="panel-body">
<%= feed.feed %>
</div><!-- /panel-body -->
</div>


<% end %>
<% if @helpfeeds.count == 0 %>
<center><h3>nothing here, be the first one to post! </h3></center>
<% end %>

<div class="well">
                  
                  
<%= form_for :helpfeed do |f| %>
<div class="form-group col-md-6">
    <label for="name">Your Name:</label>
    <%= f.text_field :user_name , :class => 'form-control' %>
  </div>
<div class="form-group col-md-6">
    <label for="email">Your Mobile:</label>
    <%= f.text_field :user_mobile , :class => 'form-control' %>
  </div>
                        <div class="form-group">
                        	<%= f.text_area :feed , { :class =>'form-control' , :rows => '3'} %>

                           
                        </div>
                        <%= f.submit "Submit" , { :class => 'btn btn-primary pull-right' }  %> <br/>
                        <% end %>
	</div>
<!-- /panel panel-default -->
</div><!-- /col-sm-5 -->


</div><!-- /container -->
</div>

